<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/misestilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>Mypet</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">
    <style>
    #userBookStop{
        color: #3C92D8;
        font-size: 15px;
        text-decoration: none;
    }

    #userBookStop img{
        margin-right: 5px;
        margin-bottom: 3px;

    }
    #btnRegistrarse{
    border-color: #007BFF; 
    color: #007BFF;
    }

    #btnRegistrarse:hover{
    background-color: #0069D9; 
    color: #ffffff;
    }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>

        </button>

        <!--Insertamos un logo-->
        <a class="navbar-brand" href="{% url 'principal' %}">
            <img src="{% static 'img/logo.jpg' %}" width="80px" height="80px">
        </a>
        <!--Definimos las opciones del menu-->
        <div class="collapse navbar-collapse" id="opciones">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'principal' %}">Bienvenid@ {{ user.username }} </a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'principal' %}">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link letra" href="{% url 'tienda' %}">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link letra" href="{% url 'carrito' %}">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quiensomos' %}">¿Quienes somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feriados' %}">Feriados</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'almacen' %}">Almacen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mostrar' %}">Mostrar Almacen</a>
                </li>
                {% endif %}
            </ul>
            <div>
                {% if user.is_authenticated %}
                <div>
                <a href="{% url 'logout' %}" id="userBookStop">
                    <img src="{% static 'img/user-vector-icon.png' %}" alt="userBookStop" width="20px">Cerrar sesión
                </a>
                </div>
                {% else %}
                <div>
                <a href="{% url 'login' %}" id="userBookStop">
                    <img src="{% static 'img/user-vector-icon.png' %}" alt="userBookStop" width="20px">Iniciar sesión
                </a>
                </div>
                {% endif %}
            </div>
    </nav> <!--Cierre de menu-->

    {% block content %}

    {% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>