{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/misestilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>Mypet</title>
</head>
<body>
    <br>
    <br>
    <div  role="alert" class="container">
        <table class="table table-bordered alert alert-warning">
            <thead>
                <tr scope="row"class="text-center"><td colspan="4" style="font-weight:bold; font-size:18px">  CARRITO </td></tr>
                <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">PRODUCTO</td>
                <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">PRECIO</td>
                <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">CANTIDAD</td>
                <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">ESTADO</td>
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %} 
                        <tr>
                            <td style="font-size:13px">{{ value.producto }}</td>
                            <td style="font-size:13px">{{ value.precio }}</td>
                            <td style="font-size:13px">{{ value.cantidad }}
                                <br>
                                <a href="{% url 'agregar' value.producto_id %}" class="badge btn btn-primary">+</a>
                                <a href="{% url 'restar'  value.producto_id %}" class="badge btn btn-warning">-</a>
                            </td>
                            <td class="alert alert-primary text-center" style="font-weight: bold; color:black;">PROCESANDO PEDIDO</td>
                        </tr>
                        <tr>
                            <th scope="row">Total : </th>
                            <td colspan="2">$ {{value.total}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">
                        <div class="alert alert-info text-center" style="font-weight: bold;">Sin Productos</div>
                    </td>
                    <td colspan="4">
                        <div class="alert alert-info text-center" style="font-weight: bold;">Sin Productos</div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <hr>
        <br>
        <br>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <a href="{% url 'limpiar' %}" class="btn btn-outline-warning">Limpiar</a> 
           </div> 
           <div class="col-6">
            <a href="{% url 'generarBoleta' %}" class="btn btn-outline-dark">Comprar</a>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}