{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/misestilos.css' %} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>Mypet</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">
    <style>
        label.error{
            color:red;
            width: 200px;
            font-size:0.8em;
            
        }
    </style>
    <script>
        $(function(){
            $("#formulario").validate({
                rules:{
                    idproducto: "required",
                    producto: "required",
                    precio:"required",
                    stock :"required",
                    categoria:"required"
                },
                messages:{
                    idproducto:{
                        required: 'Ingrese una id',
                    },
                    producto:{
                        required: 'Ingrese un producto',
                    },
                    precio: {
                        required: 'Ingrese un precio',
                    },
                    stock: {
                        required: 'Ingrese un stock',
                    },
                    categoria:{
                        required: 'Seleccione una Categoria',
                    }
                }

            });
        });
    </script>
</head>
<body>
    <br>
    <div class="container">
        <h2>Creando Producto</h2>
        <form method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label for="{{ mascotaform.field.name }}">
                    {{mascotaForm.idproducto.label}}
                </label>
                {{ mascotaform.idproducto }}
            </div>

            <div class="row">
                <label for="{{ mascotaform.field.name }}">
                    {{mascotaform.producto.label}}
                </label>
                {{ mascotaform.producto }}
            </div>

            <div class="row">
                <label for="{{ mascotaform.field.name }}">
                    {{mascotaform.precio.label}}
                </label>
                {{ mascotaform.precio }}
            </div>

            <div class="row">
                <label for="{{ mascotaform.field.name }}">
                    {{mascotaform.stock.label}}
                </label>
                {{ mascotaform.stock }}
            </div>

            <div class="row">
                <label for="{{ mascotaform.field.name }}">
                    {{mascotaform.categoria.label}}
                </label>
                {{ mascotaform.categoria }}
            </div>

            <div class="row">
                <label for="{{ mascotaform.field.name }}">
                    {{mascotaform.imagen.label}}
                </label>
                {{ mascotaform.imagen }}
            </div>


            <br><br>
            <div class="row">
                <div class="col-md">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <a href="{% url 'principal' %}" class="btn btn-success">Inicio</a>
                </div>
            </div>

        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div class="social-icons-container">
            <img src="{% static 'img/facebook.png' %}" class="social-icon" href="">
            <img src="{% static 'img/instagram.png' %}" class="social-icon" href="">
            <img src="{% static 'img/twitter.png' %}" class="social-icon" href="">
        </div>
        <ul>
            <li class="footer-menu-item">Legal</li>
            <li class="footer-menu-item">Cookies</li>
            <li class="footer-menu-item">Privacy</li>
        </ul>
        <span class="copyright">&copy;2023, MyPet, Todos los derechos reservados Matias Lemus, Leonardo Jara</span>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}